
.works-title-image {
  margin-left: -16px;
  width: 111%;
}

.music-top {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 46px 0 0;
}

.top-titles {
  margin: 24px auto 0;
  text-align: center;
}

.top-titles h2 {
  min-width: 230px;
  font-size: 4rem;
  line-height: 1.5;
  /* white-space: nowrap; */
}

.top-titles p {
  line-height: 1.8;
}

.work-caption {
  font-size: 1.8rem;
}

.top-image {
  text-align: center;
}

.works-section {
  margin: 44px 0 0;
}


.works-about {
}

.section-title {
  font-size: 2.4rem;
  text-align: center;
}

.text-group {
  margin: 24px auto 0;
  width: 80%;
}

.text-group p {
  /* display: inline; */
  text-align: left;
  line-height: 2.8rem;
  font-size: 1.4rem;
}

.use-stage {
  margin: 56px 0 0;
  text-align: center;
}

.use-stage img {
  width: 100%;
}

.use-stage p:first-of-type {
  margin: 32px 0 0;
  font-size: 5rem;
  font-weight: 600;
}

.use-stage h4 {
  position: relative;
  margin: 24px 0 0;
  font-size: 2rem;
}

.use-stage h4::after {
  display: inline-block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  content: '';
  width: 36px;
  height: 3px;
  background: rgb(91, 91, 91);
  transform: translateX(-50%);
}

.use-stage h4+p {
  margin: 48px 0 0;
}

.use-stage p {
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.invision-button {
  margin: 0 auto;
  height: 44px;
  width: 80%;
  background: #5d636f;
  text-align: center;
  border-radius: 22px;
}

.invision-button a {
  display: block;
  height: 44px;
  line-height: 4.4rem;
  color: #FFF;
  font-weight: 600;
}


.video-container {
  margin: 32px 0 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 1.4rem;
}

.youtube {
  width:100%;
  height:0;
  padding-top:75%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: auto;
  max-height: 600px;
}

video p {
  text-align: left;
}

source {
  width: 100%;
}


@media screen and (min-width:1024px) {
    /* for PC */
  .music-top {
    flex-wrap: nowrap;
    margin: 46px 0 0;
  }

  .works-title-image {
    height: 480px;
    width: auto;
    margin-left: 120px;
  }

  .top-titles {
    margin: 160px auto 0;
    text-align: left;
  }

  .works-section {
    margin-top: 120px;
  }

  .works-title {

  }

  .works-about {
  }

  .works-section h3 {
    font-size: 2.4rem;
  }

  .text-group p {
    display: block;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.4rem;
  }

  .text-group p:nth-of-type(1) {
    margin: 24px 0 0;
  }


  .use-stage {
    display: flex;
    margin: 100px 0 0;
    text-align: center;
  }

  .use-stage:first-child {
    margin-top: 56px;
  }

  .use-stage:nth-child(2n+1) {
    flex-direction: row-reverse;
  }

  .stage-descriptions {
    flex-grow: 2;
  }

  .use-stage img {
    width: auto;
    height: 310px;
  }

  .use-stage p:first-of-type {
    margin-top: 44px;
  }

  .use-stage h4 {

  }

  .use-stage h4::after {

  }

  .use-stage h4+p {
  }

  .use-stage p {

  }

  .invision-button {
    width: 280px;
  }

  .invision-button a {
  }

  .video-container {
    height: 0;
  }

  video {
    width: auto;
    max-height: 560px;
  }


  .video-container iframe,
  .video-container object,
  .video-container embed {
    width: 640px;
    height: 360px;
  }

  .youtube {
    padding-top: 40%;
  }



}