.my-intro {
  margin: 24px 0 0;
  text-align: center;
}

.my-image {
  width: 90%;
  border-radius: 500px;
}

.my-name {
  margin: 16px 0 0;
  font-size: 3.6rem;
}

.position {
  font-size: 1.8rem;
  margin: 8px 0 0;
  color: hsl(0, 0%, 60%);
}

.my-descriptions {
  margin: 20px 0 0;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #4A4A4A;
}






@media screen and (min-width:1024px) {
    /* for PC */
    .my-intro {
      display: flex;
      margin: 24px 0 0;
      text-align: left;
    }

    .about-image {
      margin: 0 0 0 40px;
    }

    .my-image {
      width: 360px;
      border-radius: 500px;
    }

    .about-texts {
      margin: 44px 0 0 144px;
    }

    .my-name {

    }

    .position {

    }

    .my-descriptions {

    }
}