@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900");
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@font-face {
  font-family: 'Futura Round';
  src: url("../fonts/futuraround-bold-webfont.woff") format("woff"), url("../fonts/futuraround-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Futura Round';
  src: url("../fonts/futuraround-regular-webfont.woff") format("woff"), url("../fonts/futuraround-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Futura Round','Avenir next','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif, sans-serif;
  font-size: 1.6rem;
  color: #282828;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#pageloading__wrap {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: table;
  z-index: 3;
}

#pageloading__icon {
  display: table-cell;
  vertical-align: middle;
}

#pageloading__icon div {
  background-color: #282828;
}

.loading-message {
  transform: translateY(-24px);
  font-weight: bold;
}

.gray-rect {
  border: solid 1px #eee;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.site-nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 46px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 12px #e6e6e6;
}

.nav-menu {
  pointer-events: none;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  box-shadow: 0px 2px 12px #e6e6e6;
  opacity: 0;
  transition: all 0.8s;
}

.nav-menu.active {
  pointer-events: auto;
  opacity: 1;
}

.nav-menu__list {
  width: 100%;
  font-size: 2rem;
}

.nav-menu__link {
  display: block;
  padding: 16px;
  color: #4b4b4b;
}

.nav-menu__link--current {
  color: #cdcdcd;
}

.title-logo {
  margin: 0 auto;
  padding: 12px 0 0;
  height: 46px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.title-logo__link {
  color: #282828;
  text-decoration: none;
}

.btn_hamburger {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  z-index: 3;
}

.btn_hamburger a {
  position: relative;
  top: 4px;
  display: block;
  height: 22px;
  transition: all .4s;
  box-sizing: border-box;
}

.btn_hamburger span {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #282828;
  transition: all .4s;
  box-sizing: border-box;
}

.btn_hamburger span:nth-of-type(1) {
  top: 0;
}

.btn_hamburger span:nth-of-type(2) {
  top: 10px;
}

.btn_hamburger span:nth-of-type(3) {
  top: 10px;
}

.btn_hamburger span:nth-of-type(4) {
  bottom: 0;
}

.btn_hamburger.active span:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn_hamburger.active span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn_hamburger.active span:nth-of-type(1) {
  opacity: 0;
}

.btn_hamburger.active span:nth-of-type(4) {
  opacity: 0;
}

/* コンテンツ */
.site-contents {
  padding: 42px 0 0;
}

.contents-title {
  margin-bottom: 16px;
  color: #333333;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.page-caption {
  margin: 4px 0 0;
  text-align: center;
  font-size: 1.2rem;
  color: #999999;
}

.profile {
  text-align: center;
}

.profile__img {
  display: block;
  margin: 12px auto;
  width: 216px;
}

.profile__name {
  font-size: 2.4rem;
  margin-bottom: 12px;
}

.profile__text {
  margin-bottom: 24px;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.profile__go-to-form-button {
  display: block;
  margin: 0 auto 24px;
  height: 44px;
  width: 216px;
  background: #0EC99B;
  border-radius: 22px;
  color: #fff;
  font-weight: bold;
  line-height: 44px;
}

.profile__sns-buttons {
  width: 148px;
  margin: 0 auto 12px;
}

.profile__sns-buttons__icon {
  width: 44px;
  margin-right: 12px;
}

.profile__sns-buttons__:last-child img {
  margin-right: 0px;
}

.works-categories {
  display: flex;
  justify-content: center;
  padding: 16px 0 0;
}

.filter a.active {
  color: #282828;
}

.works-categories-current {
  color: #282828;
}

.works-category-detail {
  padding: 0 16px;
  font-size: 1.2rem;
  color: #999999;
  transition: all 0.5s;
}

@keyframes up {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: none;
  }
}

.is-animated {
  animation: .6s up;
}

.work-cards-group {
  margin: 30px 0 0;
}

.works-card-link {
  display: block;
  margin: 0 0 32px;
  min-width: 240px;
  height: 400px;
  background: #fafafa;
  border-radius: 8px;
  transition: .2s;
  box-shadow: 0px 2px 12px #e6e6e6;
  -webkit-tap-highlight-color: transparent;
}

.works-card-link:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px #e6e6e6;
}

.work-image {
  margin: 0 0 24px;
  width: 100%;
  height: 300px;
  border-radius: 4px 4px 0 0;
  background: url(../images/music-diary.jpg) center;
  background-size: cover;
}

.work-title {
  margin: 0 0 8px;
  padding: 0 0 0 16px;
  font-size: 1.6rem;
  color: #4d4d4d;
}

.work-caption {
  padding: 0 0 0 15px;
  font-size: 1.2rem;
  color: #666666;
}

.note-article {
  display: block;
  margin: 0 0 32px;
  max-height: 500px;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0px 2px 12px #e6e6e6;
  text-decoration: none;
  transition: .2s;
  -webkit-tap-highlight-color: transparent;
}

.note-article:nth-of-type(3n) {
  margin-right: 0px;
}

.note-article:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px #e6e6e6;
}

.note-article__image {
  width: 100%;
  height: 80vw;
  max-height: 300px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.note-article__texts {
  padding: 16px;
}

.note-article__texts__title {
  margin: 0 0 8px;
  font-size: 1.6rem;
  color: #282828;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-article__texts__body {
  height: 72px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-footer {
  margin: 36px 0 24px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* for PC */
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .site-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 46px;
    background: rgba(255, 255, 255, 0.95);
    /* box-shadow: 0px 2px 8px hsl(0, 0%, 90%); */
  }
  .title-logo {
    margin: 0 0 0 24px;
    padding: 12px 0 0;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .nav-menu {
    pointer-events: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 40px;
    opacity: 1;
    box-shadow: 0px 0px rgba(255, 255, 255, 0);
  }
  .nav-menu__list {
    font-size: 1.6rem;
    padding: 0;
  }
  .nav-menu__link {
    padding: 12px 36px 12px 24px;
    font-weight: 500;
    transition-property: all;
    transition-duration: 0.5s;
  }
  .nav-menu__link:hover {
    color: #bebebe;
  }
  .btn_hamburger {
    display: none;
  }
  .works-categories {
    display: flex;
    justify-content: center;
    padding: 16px 0 0;
  }
  .works-categories-current {
    color: #282828;
  }
  .works-category-detail {
    padding: 0 16px;
    font-size: 1.4rem;
    color: #999999;
    transition: all 0.5s;
  }
  .works-category-detail:hover {
    color: #282828;
  }
  .site-contents {
    padding: 80px 0 0;
  }
  .contents-title {
    color: #333333;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
  }
  .work-cards-group {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 30px 0 0;
  }
  .work-card:nth-of-type(3n) {
    margin-right: 0px;
  }
  .work-card {
    margin-right: 14px;
  }
  .is-animated:nth-of-type(3n) {
    margin-right: 0px;
  }
  .works-card-link {
    display: block;
    margin: 0 0 32px;
    min-width: 300px;
    height: 400px;
    background: #fafafa;
    border-radius: 4px;
    transition: .3s;
  }
  .works-card-link:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 24px #e6e6e6;
  }
  .works-card-link:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px #e6e6e6;
  }
  .work-image {
    margin: 0 0 24px;
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0 0;
    background: url(../images/music-diary.jpg) center;
    background-size: cover;
  }
  .work-title {
    margin: 0 0 8px;
    padding: 0 0 0 16px;
    font-size: 1.6rem;
    color: #4d4d4d;
  }
  .work-caption {
    padding: 0 0 0 15px;
    font-size: 1.2rem;
    color: #666666;
  }
  .note-articles {
    display: flex;
  }
  .note-article {
    margin-right: 14px;
    max-width: 300px;
  }
  .note-article__image {
    max-width: 300px;
  }
  .note-article:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 24px #e6e6e6;
  }
  .note-article:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px #e6e6e6;
  }
}
